/*.txt
/*.xml
*.ext.php
*.log
/public/*
/cache/*
/upload/*
/upload_backup/
/config.php
/.htaccess

/silentUpgrade*.php

/vendor/
/custom/history/
/custom/modulebuilder/
/custom/working/
/custom/modules/*/Ext/
/custom/application/
/custom/application/*
/custom/application/Ext/
/custom/application/Ext/*
/custom/application/Ext/Api/

custom/modules/unified_search_modules_display.php

modules/AOD_Index/Index/*

_override_sugarfield_jjwg_maps_*.php
custom/blowfish/*